body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0;
    /* background-color: #CDCDCD; */
}

#main {
    height: 487px;
    width: 626px;
    margin: 64px auto;
}

#main img,
#main h1,
#main p {
    margin: 13.5px auto;
}

#main p {
    width: 540px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: normal;
}

h1 span {
    font-weight: bold;
}

p span {
    color: #828282;
    font-weight: bold;
}

p strong {
    color: #3F3D56;
    font-weight: bold;
}

span {
    color: #EE24FF;
}

p,
#footer {
    color: #7d7987;
    font-size: 15px;
    line-height: 28px;
}

#footer a {
    text-decoration: none;
    color: #3F3D56;
    font-weight: bold;
}

#footer a+a {
    margin-left: 28px;
}

.line {
    width: 391px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #eceff2;
}

#waves {
    margin-top: 40px;
}